body {
  font-family: 'Roboto', sans-serif;
}

/* Arrow CSS */
i.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px !important;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-bottom: -3px;

}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
   margin-bottom: 2px;

}
